
.container{
    width: 100%;
    display: block;
    max-width: 1024px;
}

body {
    background-color: #2b2c30;
}

.header{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(43, 44, 48, 0.4);
    margin-left:auto ;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo_link{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 20px;
}

.side_bar{

}

.nav_bar{
    list-style-type: none;
    display: flex;
    margin: 0;
}

.logo_item{
    text-decoration: none;
    color: #fff ;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    padding: 10px 15px;
}

.logo_item:hover{
    color:#ffee5c;
    border-top: 1px solid #ffee5c;
}

.background_img{
    background-image: url(./img/home-img.jpg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav_bar_item-service:hover .header_service-bar{
    display: block;
}

.header_service-bar{
    background-color: #2b2c30;
    PADDING: 10px 0;
    list-style: none;
    width: 130px;
    position: absolute;
    top: 45px;
    display: none;
    transform: translateX(-15px) translateY(-2px);
}

.header_service-item{   
    padding: 10px 17px;
}

.caption{
    position: absolute;
    color: white;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.caption h2{
    font-size: 62px;
    line-height: 1.1;
    padding: 0 0 10px 0;
    margin: 0;
    font-weight: 300;
}

.caption h2 span {
    font-weight: 800;
}

.caption h3 {
    font-size: 34px;
    font-weight: 300;
    margin: 10px;
}

.caption h3 span {
    color: #ffee5c;
}

.slogan {
    font-size: 18px;
    margin-bottom:10px;
    margin-top: 18px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.slogan::after{
    content: "___";
    color: #ffee5c;
    position: relative;
    top: -7px;
}

.slogan::before{
    content: "___";
    color: #ffee5c;
    position: relative;
    top: -7px;
}

.btn{
    display: block;
    background-color: #ffee5c;
    width: 180px;
    padding: 16px;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 18px;
    font-family: "Open Sans", sans-serif;
}
